@import '~bootstrap/dist/css/bootstrap.css';

.sidebarComponent {
    height: 100vh;
    width: 18vw;
    background-color: #FFFFFF;
    position: absolute;
    border-right: 0.7px solid #2E4159;
}

.topbarComponent {
    width: 100vw;
    height: 7vh;
    background-color: #F6F6F6;
    position: absolute;
    border-bottom: 0.5px solid black;
}

.editor {
    top: 7vh;
    left: 18vw;
    width: 41vw;
    height: 93vh;
    background-color: #222e3d;
    border: 0.1px solid black;
    position: absolute; 
}

.previewDisplay {
    top: 7vh;
    left: 59vw;
    width: 34vw;
    height: 48vw;
    overflow: scroll;
    padding: 1vw;
    position: absolute;
    border: 0.5px solid black;
}

.lineNumbers {
    height: 93vh;
    width: 3vw;
    background-color: #222e3d;
    position: absolute;
}

textarea {
    left: 3vw;
    width: 38vw;
    height: 93vh;
    border: 0;
    background-color: #2E4159;
    padding-top: 1vh;
    padding-left: 1vh;
    position: absolute;
    color: white;
}

textarea:focus { 
    outline: none !important;
}

.sidebarBtn {
    border-radius: 1vw;
    width: 4vw;
    height: 4vw;
    border: 3px solid black;
    background-color: #ffffff;
    color: black;
}

.sidebarBtn:hover {
    background-color: #f6f6f6;
}

.sidebarBtnIcon {
    width: 1.4vw;
    height: 1.4vw;
}

.sidebarButtons {
    top: 10vh;
    justify-content: space-between;
    display: flex;
    position: absolute;
}

.sidebarBtnBuffer {
    padding: 0.8vw;
}

body {
    overflow: hidden;
}