@import '~bootstrap/dist/css/bootstrap.css';
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";
@import url('./fontDefinitions.css');

.sidebarComponent {
    height: 100vh;
    width: 18vw;
    background-color: #262626;
    position: absolute;
    border-right: 0.7px solid #2E4159;
}

.topbarComponent {
    width: 100vw;
    height: 7vh;
    background-color: #f6f6f6;
    position: absolute;
    border-bottom: 0.5px solid black;
}

.editor {
    top: 7vh;
    left: 18vw;
    width: 41vw;
    height: 93vh;
    border-right: 0.1px solid black;
    position: absolute; 
}

.editorArea {
    top: 5vh;
    width: 41vw;
    height: 93vh;
    border-right: 0.1px solid black;
    position: absolute;   
}

.tabSelector {
    /*background-color: #4f4d8c;*/
    height: 5vh;
    width: 41vw;
    position: absolute;
}

/*.tabsGrouped {
    padding-left: 3.75vw;
}

.tab {
    background-color: #2e4159; 
    top: 2vh;
    position: absolute;
    height: 3vh; 
    width: 12vw;
    color: #f6f6f6;
    border-top-left-radius: 0.25vw;
    border-top-right-radius: 0.25vw;
    font-family: "Jost-Light";
}*/


.previewDisplay {
    top: 7vh;
    left: 59vw;
    width: 41vw;
    height: 93vh;
    overflow: scroll;
    padding: 1vw;
    position: absolute;
}

.lineNumbers {
    height: 93vh;
    width: 3vw;
    background-color: #222e3d;
    position: absolute;
}

textarea {
    left: 3vw;
    width: 38vw;
    height: 93vh;
    border: 0;
    background-color: #2E4159;
    padding-top: 1vh;
    padding-left: 1vh;
    position: absolute;
    color: white;
}

textarea:focus { 
    outline: none !important;
}

.sidebarBtn {
    border-radius: 0.5vw;
    width: 4vw;
    height: 4vw;
    border: solid #262626;
    background-color: #f6f6f6;
}

.sidebarBtn:hover {
    background-color: #f6f6f6;
}

.sidebarBtnIcon {
    width: 2vw;
    height: 2vw;
}

.sidebarButtons {
    top: 10vh;
    justify-content: space-between;
    display: flex;
    position: absolute;
}

.sidebarButtonsRowTwo {
    top: 20vh;
    justify-content: space-between;
    display: flex;
    position: absolute;
}

.sidebarBtnBuffer {
    padding: 0.8vw;
}

.folderDiv {
    top: 32vh;
    width: 18vw;
    height: 68vh;
    position: absolute;
    color: white;
    border-top: 0.75vw solid #2E4159;
}

.folderDisplay {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    font-family: "Jost-Regular";
}

.folderHeading {
    font-family: "Jost-Bold";
}

.openFolderBtnBounding {
    padding: 4vh;
    text-align: center;
}

.parentFolderIcon {
    width: 100%;
    text-align: left;
}

.childFolderIcon {
    width: 100%;
    padding-left: 2vh;
}

.openFolderBtn:hover {
    opacity: 0.9;
}

.logoImg {
    height: 6vh;
    top: 0;
    position: absolute;
}

.hide {
    display: none;
}

.graphingToolPopover {
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 80vh;
    margin: 0;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: white;
    position: absolute;
    display: none;
}

.graphingToolButtons {
    bottom: 0;
    position: absolute;
    display: flex;
    left: 50%;
    padding-bottom: 3vh;
    transform: translate("-50%", "0%");
}

.btnInsertBuffer {
    padding: 3vw;
}

body {
    overflow: hidden;
}